<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Young Girlz 4 u </title>
<meta http-equiv="Content-Language" content="en" />
<link href="/static/css/style_sheet.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div id="header">
<img src="/static/img/creditcards.PNG" />
</div>


<div class="logo"><a href="http://localhost:5000/index" target="_self"><img src="/static/img/lollipops.jpg" height="128" width="376" alt="escort logo" /></a></div>
<div class="logo_two"><a href="http://localhost:5000/index" target="_self"><img src="/static/img/lollipops.jpg" height="128" width="376" alt="escort logo" /></a></div>
<div class="txt_bog"><img src="/static/img/cheerleaders.jpg" height="200" width="420" alt="Reliable Asian Escorts" /><h1></h1><p>[description of women]
Don't Hestiate Call now.</p><h1>[Telephone number]</h1></div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="content_txt">
<div class="school_girl"><a href="http://localhost:5000/index" target="_self"><img src="/static/img/school_girl.jpg" height="500" width="250" alt="barely 18 girls, ready to please" /></a></div>
<div class="lips"><a href="http://localhost:5000/index" target="_self"><img src="/static/img/lips.jpg" height="500" width="250" alt="barely 18 girls, ready to please" /></a></div>
<div class="description">
<h1>[title]</h1>
<p align="justify">[Welcome Text]</p>
<p align="justify">[Services offered]</p>
<p align="justify">[link to escorts] <a href="http://www.a1escortsny.com/new-york-escorts.htm"><b>New York escorts</b></a>, [pitch]</p>
<p align="justify">[pitch]<a href="http://www.a1escortsny.com/li-asian-escorts.htm"><b>[other locations]</b></a>, [location information]</p>
<p>[Add pictures here]</p>

<!--<p align="justify">[disclosure statement]:Please read the disclosure statement below and enter only if you agree to its terms and are at least 21 years old. All others are directed to exit immediately.</p>
<ul>
<li>1)	I am at least 21 years of age.</li>
<li>2)	I am not affiliated with an form of law enforcement or acting on any law enforcement agency's behalf.</li>
<li>3)	I do not work for or report to any government agencies in any capacity.</li>
<li>4)	The material I am choosing to view is only for my personal use and will not be viewed by minors.</li>
<li>5)	I acknowledge and certify that the material being presented here not illegal or banned from my community, city or state.</li>
</ul>
<p align="justify">I acknowledge that by "clicking" on "YES" I am electronically signing to all of the facts # 1-5 stated above and will exit immediately if I cannot attest to same.</p><br><br>
<p align="center"><a href="http://www.a1escortsny.com/gallery.htm"><strong style="font-size:26px;">YES</strong></a></p><br><br>
<p align="center"><a href="http://www.google.com/" rel="nofollow"><strong style="font-size:26px;">No</strong></a></p>
--></div>


<div class="bottom">
	
	Copyrights &copy; 2014 [company name] All rights are reserved
</div>
</div>


</body>
</html>
